*{
    margin: 0;
    padding: 0;
   

}

.hero{
    background-color: black;
    height: 25vh;
  
}
.hero .nav-bar{
    margin-left: 600px;
    
}
.hero > .nav-bar button{
    background-color:#FAFF00;
    padding: 15px;
    border-top-right-radius: 20px;
    margin: 25px;
    font-size: 15px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 100;
    
  
}

.hero > .nav-bar > span{
    color: white;
    content: "\2192";

}

.hero > .nav-bar > ul li{
    color: white;
    display: inline;
    font-size: 20px;
    padding: 30px;
    

}
.content{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 250px;
    margin-top: 20px;
}
.content .content-1 .content-2 h1, h2, h3, p{
    color: white;
}