*{
    margin: 0;
    padding: 0;
   

}

.hero{
    background-color: black;
    height: 25vh;
  
}
.hero .nav-bar{
    margin-left: 600px;
    
}
.hero > .nav-bar button{
    background-color:#FAFF00;
    padding: 15px;
    border-top-right-radius: 20px;
    margin: 25px;
    font-size: 15px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 100;
    
  
}

.hero > .nav-bar > span{
    color: white;
    content: "\2192";

}

.hero > .nav-bar > ul li{
    color: white;
    display: inline;
    font-size: 20px;
    padding: 30px;
    

}
.details{
    background-color: grey;

}
.details .images{
    display: flex;
    height: auto;

}
.content{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 250px;
    margin-top: 20px;
}
.content .content-1 .content-2 h1, h2, h3, p{
    color: white;
}
.details > .images > .image > img{
    height: 500px;
    width: 600px;
    margin-top: 50px;
    margin-left: 100px;
}

.card{
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 50px;
}
.card > .btn-learn{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 15px;
    font-family: 'Poppins';
    border-top-right-radius: 20px;
    margin-top: 420px;
    margin-left: 10px;
    padding-right: 90px;
    padding-left: 90px;
    justify-items: center;
    
}
.card > .btn-learn span{
    color:#FAFF00;
    padding-left: 15px;
    
}
.details .cards{
    display: flex;
    margin-left: 100px;

}
.details img{
    height: 70px;
    width: 70px;
    margin-top: 10px;
    margin-right:  18px;
  

}


.cardd{
    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    grid-template-rows: 10px 80px 50px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 24px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 10px;
    text-align: center;
    transition: 0.3s;
    width: 600px;
    justify-content:space-evenly;

    
}
.card-text h1{
    grid-area: text;
    font-size: 20px;
    margin-top: 25px;
}

.card-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.card-stats .stat .value{
    display:inline;
    align-items: center;
    justify-content: center;
    padding: 5px;
    

}
.card-stats .border{
    height: auto;
    border-left: 1px solid rgba(0,0,0,0.9);
    border-right: 1px solid rgba(0,0,0,0.9);
    border-top: 1px solid rgba(0,0,0,0.9);
    
    
}
.card-stats .border-1{
border-top: 1px solid rgba(0,0,0,0.9);
width:auto;    
}


.desc{
  background-color: white;
  width: 570px;
  height: 400px;
  margin-left: 100px;
  border-radius: 20px;
  margin-top: 40px;
  padding: 20px;


    
}
.desc > p{
    color: black;
    padding-top: 30px;
    font-size: 18px;
}

.feature{
    height: 300px;
    width: 570px;
    background-color: white;
    margin-top: 25px;
    border-radius: 20px;
    padding: 20px;
    margin-left: 100px;
    
}
.feature h1{
    padding: 20px;
}
.feature .features{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}




ul.checkmark li {
  font-size: 16px; 
  list-style-type: none; 
  margin-bottom: 1em; 
  padding: 0.25em 0 0 2.5em; 
  position: relative; 
}



ul.checkmark li:before {
  content: " "; 
  display: block;
  border: solid 0.8em #660a5e;
  border-radius: .8em;
  height: 0;
  width: 0;
  position: absolute;
  left: 0.5em;
  top: 40%; 
  margin-top: -0.5em;
}


ul.checkmark li:after {
  content: " ";
  display: block;
  width: 0.3em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0; 
  position: absolute;
  left: 1em;
  top: 40%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}